.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(rgba(255,255,255,0.5),
                                     rgba(255,255,255,0.5))
        , url("https://i.ibb.co/rGh2Ct0/kelly-sikkema-6a-Y-6-B3-Mi-Z4-unsplash.jpg");
    background-size: cover;
}

.registerTitle{
    font-size: 50px;
}
.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm > label{
    margin: 10px 0;
}
.registerInput{
    padding: 10px;
    border: none;
    background-color: white;
}

.registerButton{
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: teal;
    color: white;
    border-radius: 10px;
}

.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 10px;
    border: none;
    color: white;
    background-color: lightcoral;
    cursor: pointer;
    border-radius: 10px;
}